* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(67, 7, 154);
  color: rgb(122, 255, 121);
}
h1 {
  text-align: center;
  margin-top: 6%;
}

.frame {
  background-color: gray;
}

footer {
  background-color: rgb(30, 30, 30);
  color: rgb(216, 243, 220);
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.f-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
.f-item {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: x-small;
}
.f-item img {
  width: 35px;
  margin-left: 15px;
  border: none;
}
.f-item img:hover {
  filter: brightness(150%);
}
