* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(34, 39, 40);
  color: rgb(4, 206, 125);
}

/* Scrollbar */

html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
html::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 15px;
}

h1 {
  text-align: center;
  margin: 3%;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.classe {
  background-color: rgb(1, 56, 34);
  width: 320px;
  height: 180px;
  padding: 5px 5px 5px 10px;
  border: 1px solid rgb(66, 86, 79);
  border-radius: 15px;
  margin: 6px 3px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
h3 {
  padding: 15px;
}
a {
  margin: 10px 5px;
  padding: 8px;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(216, 243, 220);
  background-color: rgb(30, 30, 30);
}
p {
  padding: 15px;
}
button {
  background-color: rgb(34, 39, 40);
  color: rgb(4, 206, 125);
  padding: 8px;
  border: solid 3px rgb(66, 86, 79);
  border-radius: 15px;
  display: block;
  margin: 30px auto 60px auto;
  font-size: 25px;
}

footer {
  background-color: rgb(30, 30, 30);
  color: rgb(216, 243, 220);
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.f-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
.f-item {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: x-small;
}
.f-item img {
  width: 35px;
  margin-left: 15px;
  border: none;
}
.f-item img:hover {
  filter: brightness(150%);
}
